
				.skin-tone-button {
					border-color: #D0D1D7;
					width: 24px !important;
					height: 24px !important;
				}

				.skin-tone {
					width: 12px;
					height: 12px;
				}

				.skin-tone:after {
					border: none;
					box-shadow: none;
				}

				#nav button {
					color: #8C8F9A;
				}

				#nav button:hover {
					color: #141B38;
				}

				#nav button[aria-selected] {
					color: #005AE0;
				}

				#nav .bar {
					background-color: #005AE0;
				}

				#nav[data-position=top]:before {
					height: 3px;
					background: none;
					background-color: #D0D1D7;
					margin: -3px 16px 0 12px;
					border-radius: 3px 3px 0 0;
				}

				.search input[type=search] {
					background-color: #fff;
					border: 1px solid #D0D1D7;
					transition: none;
					border-radius: 3px;
				}

				.search input[type=search]:focus {
					border-color: #005AE0;
					box-shadow: 0 0 0 1px #005AE0;
				}

				.search input[type=search]::placeholder {
					color: #8C8F9A;
				}

				.search .icon {
					color: #8C8F9A;
				}

				#preview .color-c {
					color: #141B38;
					font-size: 16px !important;
				}

				#preview .ellipsis {
					font-size: 16px;
				}

				#preview .ellipsis.color-c {
					display: none;
				}
			