
		span.annotation-text.annotation-text-aioseo-tru-seo-highlighter-spellingChecker {
			
		display: inline !important;
		font-size: inherit !important;
		font-weight: inherit !important;
		letter-spacing: inherit !important;
		line-height: inherit !important;
		position: static !important;
			color: inherit !important;
			background-color: transparent !important;
			text-decoration: underline !important;
			text-decoration-color: #DC2626 !important;
			text-decoration-thickness: 2px !important;
			text-underline-offset: 3px !important;
		}
		span.annotation-text.annotation-text-aioseo-tru-seo-highlighter-spellingChecker:hover {
			text-decoration-thickness: 3px !important;
			text-decoration-color: #bb2020 !important;
		}
		span.annotation-text.annotation-text-aioseo-tru-seo-highlighter-spellingChecker.aioseo-highlight-active {
			text-decoration-thickness: 3px !important;
			text-decoration-color: #9a1b1b !important;
			background-color: rgba(220, 38, 38, 0.12) !important;
		}
		

		mark.aioseo-highlight-spelling-checker {
			
		display: inline !important;
		font-size: inherit !important;
		font-weight: inherit !important;
		letter-spacing: inherit !important;
		line-height: inherit !important;
		position: static !important;
			color: inherit !important;
			background-color: transparent !important;
			text-decoration: underline !important;
			text-decoration-color: #DC2626 !important;
			text-decoration-thickness: 2px !important;
			text-underline-offset: 3px !important;
		}
		mark.aioseo-highlight-spelling-checker:hover {
			text-decoration-thickness: 3px !important;
			text-decoration-color: #bb2020 !important;
		}
		mark.aioseo-highlight-spelling-checker.aioseo-highlight-active {
			text-decoration-thickness: 3px !important;
			text-decoration-color: #9a1b1b !important;
			background-color: rgba(220, 38, 38, 0.12) !important;
		}
		