@keyframes aioseoSidebarVisible {
			from { opacity: 0.99; }
			to { opacity: 1; }
		}
		#aioseo-post-settings-sidebar-vue {
			animation-duration: 0.001s;
			animation-name: aioseoSidebarVisible;
		}