@keyframes aioseoLimitModifiedDate {
			from { opacity: 0.99; }
			to { opacity: 1; }
		}
		#aioseo-limit-modified-date {
			animation-duration: 0.001s;
			animation-name: aioseoLimitModifiedDate;
		}