

            :root {
                --merchant-rsn-box-width: 420px;
                --merchant-rsn-bg-color: #ffffff;
                --merchant-rsn-box-radius: 0px;
                --merchant-rsn-box-product-image-radius: 0px;
                --merchant-rsn-border-color: rgba(255, 255, 255, 0);
                --merchant-rsn-close-btn-bg: #f3f3f3;
                --merchant-rsn-text-color: #000000;
                --merchant-rsn-product-title-color: #000000;
                --merchant-rsn-time-color: #919191;
            }
        
/*# sourceURL=merchant-recent-sales-notifications-inline-css */
