

            :root {
                --free-shipping-bar-position-extra-offset-desktop: 0px;
                --free-shipping-bar-position-extra-offset-mobile: 0px;
                --free-shipping-bar-card-background-color: #f5eee7;
                --free-shipping-bar-card-margin-bottom: 0px;
                --free-shipping-bar-card-padding-top: 15px;
				--free-shipping-bar-card-padding-bottom: 15px;
				--free-shipping-bar-card-padding-left: 15px;
				--free-shipping-bar-card-padding-right: 15px;
				--free-shipping-bar-card-border-radius: 4px;
				--free-shipping-bar-card-border-width: 0px;
				--free-shipping-bar-card-border-color: transparent;
				--free-shipping-bar-card-text-font-size: 18px;
				--free-shipping-bar-card-text-color: #212121;
				--free-shipping-bar-height: 10px;
				--free-shipping-bar-width: 100%;
				--free-shipping-bar-border-radius: 0px;
				--free-shipping-bar-background-color: #e6dfd4;
				--free-shipping-bar-progress-bar-color: #212808;
				--free-shipping-bar-card-variable-text-color: #212121;
            }
        
/*# sourceURL=merchant-free-shipping-progress-bar-inline-css */
