
                    :root {
                        --merchant-cp-checkbox-border-radius: 4px;
                        --merchant-cp-checkbox-color: #000000;
                        --merchant-cp-title-color: #000000;
                        --merchant-cp-description-color: #000000;
                        --merchant-cp-product-border-color: #000000;
                        --merchant-cp-product-image-border-color: rgba(0,0,0,0);
                        --merchant-cp-description-font-size-small: 14px;
                        --merchant-cp-text-align: left;
                        --merchant-cp-product-border-radius: 0px;
                        --merchant-cp-product-image-border-radius: 0px;
                    }
                