
.wp-container-core-group-is-layout-32efe032 > :where(:not(.alignleft):not(.alignright):not(.alignfull)){max-width:760px;margin-left:auto !important;margin-right:auto !important;}.wp-container-core-group-is-layout-32efe032 > .alignwide{max-width:760px;}.wp-container-core-group-is-layout-32efe032 .alignfull{max-width:none;}
/*# sourceURL=core-block-supports-inline-css */
