

				.botiga-merchant-module-field-disabled .merchant-module-page-setting-field-inner {
					pointer-events: none;
					opacity: 0.5;
				}

				.botiga-merchant-module-field-disabled .merchant-module-page-setting-field-desc {
					font-size: 14px;
					line-height: 1.6;
					color: #1d2327;
					border-radius: 4px;
					border: 1px solid #0d65d7;
					background-color: #e6effa;
					padding: 8px 10px;
					margin-top: 8px;
				}

				.botiga-merchant-module-field-disabled + .merchant-module-page-setting-field-info {
					display: none !important;
				}
			
.merchant-scroll-to-top-button{--merchant-icon-color:#ffffff;}.merchant-scroll-to-top-button{--merchant-icon-hover-color:#ffffff;}.merchant-scroll-to-top-button{--merchant-text-color:#ffffff;}.merchant-scroll-to-top-button{--merchant-text-hover-color:#ffffff;}.merchant-scroll-to-top-button{--merchant-border-color:#212121;}.merchant-scroll-to-top-button{--merchant-border-hover-color:#757575;}.merchant-scroll-to-top-button{--merchant-background-color:#212808;}.merchant-scroll-to-top-button{--merchant-background-hover-color:#757575;}.merchant-scroll-to-top-button{--merchant-border-radius:30px;}.merchant-scroll-to-top-button{--merchant-padding:15px;}.merchant-scroll-to-top-button{--merchant-text-size:18px;}.merchant-scroll-to-top-button{--merchant-icon-size:18px;}.merchant-scroll-to-top-button{--merchant-border-size:2px;}.merchant-scroll-to-top-button{--merchant-side-offset:30px;}.merchant-scroll-to-top-button{--merchant-bottom-offset:30px;}@media (max-width:768px){.merchant-scroll-to-top-button{--merchant-side-offset:30px;}.merchant-scroll-to-top-button{--merchant-bottom-offset:30px;}}.merchant-cookie-banner{--merchant-modal-width:750px;}.merchant-cookie-banner{--merchant-modal-height:80px;}.merchant-cookie-banner{--merchant-background:#212808;}.merchant-cookie-banner{--merchant-text-color:#ffffff;}.merchant-cookie-banner{--merchant-link-color:#e9dcc9;}.merchant-cookie-banner{--merchant-button-background:#e9dcc9;}.merchant-cookie-banner{--merchant-button-text-color:#212808;}.merchant-ajax-search-wrapper{--merchant-results-box-width:500px;}.merchant-cart-reserved-timer{--merchant-bg-color:#f4f6f8;}.merchant-frequently-bought-together .merchant-variation-item img{width:100% !important;height:100% !important;}.woocommerce-cart tbody tr.mrc-fbt-savings-total td{border-color:rgba(33,33,33,0.1) !important;}.woocommerce-cart tbody tr.mrc-fbt-savings-total th{white-space:nowrap;}.botiga-quick-view-popup-content .merchant-freespb-wrapper{display:none !important;}
