
				#adminmenu .toplevel_page_athemes-addons .wp-submenu li.current a {
                    color: rgba(240, 246, 252, 0.7);
                    font-weight: 400;
                }

				#adminmenu .toplevel_page_athemes-addons .wp-submenu li a[href="admin.php?page=athemes-addons&section=theme-builder"] {
					color: #fff;
                    font-weight: 600;
				}

				#adminmenu .toplevel_page_athemes-addons .wp-submenu a[href="https://athemes.com/addons?utm_source=theme_submenu_page&#038;utm_medium=button&#038;utm_campaign=Addons"] {
					color: #05d105;
				}
			