#elementor-panel-category-sydney-elements .icon,
#elementor-panel-category-sydney-theme-elements .icon,
#elementor-panel-category-sydney-shop-elements .icon {
  position: relative;
}
.sydney-elementor-icon:after {
  content: '';
  background-image: url(../assets/58c52957a5fd.svg);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.4;
}
.sydney-ele-svg-logo {
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: -2px;
  background-image: url(../assets/58c52957a5fd.svg);
  filter: grayscale(1);
}