.css-8zzzkt { padding-inline-end: 0.5em; cursor: pointer; color: rgb(192, 11, 185); }
.css-1hudjvs { color: rgb(192, 11, 185); cursor: pointer; font-family: inherit; font-size: inherit; }
.css-1hudjvs:hover { text-decoration: underline; color: rgb(192, 11, 185); }