
            body.toplevel_page_at-blocks {
                background-color: #F6F6F8;
            }
            body.toplevel_page_at-blocks #wpcontent {
                padding: 0;
            }

            body.toplevel_page_at-blocks #wpbody-content .notice,
            body.toplevel_page_at-blocks #wpbody-content div.updated,
            body.toplevel_page_at-blocks #wpbody-content div.error {
                display: none !important;
            }
        