
:root {
  --sydney-global-color-1:#1D3F3A;
  --sydney-global-color-2:#56716C;
  --sydney-global-color-3:#102226;
  --sydney-global-color-4:#102226;
  --sydney-global-color-5:#6D7685;
  --sydney-global-color-6:#EFF9F5;
  --sydney-global-color-7:#EFF9F5;
  --sydney-global-color-8:#DBDBDB;
  --sydney-global-color-9:#FFFFFF;
}
.editor-styles-wrapper, .editor-styles-wrapper .editor-block-list__block { font-family:Open Sans,sans-serif; font-weight: regular;}
.editor-post-title__block .editor-post-title__input, .editor-styles-wrapper .editor-post-title__input, .editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6 { font-family:Open Sans,sans-serif; font-weight: regular;}
@media (min-width: 992px) { .editor-styles-wrapper h1 { font-size:52px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper h1 { font-size:42px;} }
@media (max-width: 575px) { .editor-styles-wrapper h1 { font-size:32px;} }
@media (min-width: 992px) { .editor-styles-wrapper h2 { font-size:42px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper h2 { font-size:32px;} }
@media (max-width: 575px) { .editor-styles-wrapper h2 { font-size:24px;} }
@media (min-width: 992px) { .editor-styles-wrapper h3 { font-size:32px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper h3 { font-size:24px;} }
@media (max-width: 575px) { .editor-styles-wrapper h3 { font-size:20px;} }
@media (min-width: 992px) { .editor-styles-wrapper h4 { font-size:24px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper h4 { font-size:18px;} }
@media (max-width: 575px) { .editor-styles-wrapper h4 { font-size:16px;} }
@media (min-width: 992px) { .editor-styles-wrapper h5 { font-size:20px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper h5 { font-size:16px;} }
@media (max-width: 575px) { .editor-styles-wrapper h5 { font-size:16px;} }
@media (min-width: 992px) { .editor-styles-wrapper h6 { font-size:18px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper h6 { font-size:16px;} }
@media (max-width: 575px) { .editor-styles-wrapper h6 { font-size:16px;} }
.editor-styles-wrapper h1{ color:#102226;}
.editor-styles-wrapper h2{ color:#102226;}
.editor-styles-wrapper h3{ color:#102226;}
.editor-styles-wrapper h4{ color:#102226;}
.editor-styles-wrapper h5{ color:#102226;}
.editor-styles-wrapper h6{ color:#102226;}
.editor-post-title__block .editor-post-title__input, .editor-styles-wrapper .editor-post-title__input{ color:#102226;}
@media (min-width: 992px) { .editor-styles-wrapper, .editor-styles-wrapper p { font-size:16px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper, .editor-styles-wrapper p { font-size:16px;} }
@media (max-width: 575px) { .editor-styles-wrapper, .editor-styles-wrapper p { font-size:16px;} }
.editor-styles-wrapper > *:not(.wp-block-heading) { text-transform:;font-style:;line-height:1.68;letter-spacing:px;}
@media (min-width: 992px) { .editor-post-title__block .editor-post-title__input, .editor-styles-wrapper .editor-post-title__input { font-size:48px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-post-title__block .editor-post-title__input, .editor-styles-wrapper .editor-post-title__input { font-size:32px;} }
@media (max-width: 575px) { .editor-post-title__block .editor-post-title__input, .editor-styles-wrapper .editor-post-title__input { font-size:32px;} }
.editor-styles-wrapper .wp-block-heading { font-style:normal;line-height:1.2;letter-spacing:px;text-transform:;text-decoration:;}
.editor-styles-wrapper, .editor-styles-wrapper .editor-block-list__block { color:#102226}
.editor-styles-wrapper { background-color:#FFFFFF}
@media (min-width: 992px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { padding-top:12px;padding-bottom:12px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { padding-top:12px;padding-bottom:12px;} }
@media (max-width: 575px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { padding-top:12px;padding-bottom:12px;} }
@media (min-width: 992px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { padding-left:35px;padding-right:35px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { padding-left:35px;padding-right:35px;} }
@media (max-width: 575px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { padding-left:35px;padding-right:35px;} }
.editor-styles-wrapper .wp-block-button__link { border-radius:6px;}
@media (min-width: 992px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { font-size:13px;} }
@media (min-width: 576px) and (max-width:  991px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { font-size:13px;} }
@media (max-width: 575px) { .editor-styles-wrapper .wp-block-button__link,button,a.button,.wp-block-button__link,input[type="button"],input[type="reset"],input[type="submit"] { font-size:13px;} }
.editor-styles-wrapper .wp-block-button__link { text-transform:uppercase;}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link{ background-color:#1D3F3A;}
.editor-styles-wrapper .wp-block-button:not(.is-style-outline) .wp-block-button__link:hover{ background-color:rgba(29,63,58,0.73);}
.editor-styles-wrapper .wp-block-button__link{ color:#ffffff;}
.editor-styles-wrapper .wp-block-button__link:hover{ color:#ffffff;}
.editor-styles-wrapper .is-style-outline .wp-block-button__link,.editor-styles-wrapper .wp-block-button__link.is-style-outline,.editor-styles-wrapper .wp-block-button__link { border-color:#1D3F3A;}
.editor-styles-wrapper .wp-block-button__link:hover { border-color:rgba(29,63,58,0.73);}

