
							:root {
					--wpforms-button-background-color: #e27730!important;
				}

				#wpforms-form-page-page .wpforms-form-page-main .wpforms-page-indicator-page-progress,
				#wpforms-form-page-page .wpforms-form-page-main .wpforms-page-indicator-page.active .wpforms-page-indicator-page-number {
					background-color: #e27730!important;
				}

				#wpforms-form-page-page .wpforms-form-page-main .wpforms-page-indicator-page.active .wpforms-page-indicator-page-triangle {
					border-top-color: #e27730!important;
				}
			
			.wpforms-form-page-modern #wpforms-form-page-page {
				border-top-color: #e27730;
				background-color: #e48140;
			}

			.wpforms-form-page-classic #wpforms-form-page-page {
				border-top-color: #e27730;
				background-color: #faeadf;
			}

			.wpforms-form-page-modern #wpforms-form-page-page .wpforms-form-page-wrap {
				box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.25), inset 0 4px 0 0#f0bb97;
			}

			.wpforms-form-page-classic #wpforms-form-page-page .wpforms-form-page-wrap {
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25), inset 0 8px 0 0#f0bb97;
			}

			.wpforms-form-page-modern .wpforms-form-page-footer {
				color: #fff;
			}

			.wpforms-form-page-classic .wpforms-form-page-footer {
				color: #f1c1a1;
			}

			.wpforms-form-page-modern .cls-1 {
				fill: #fff;
			}

			.wpforms-form-page-classic .cls-1 {
				fill: #f1c1a1;
			}
		