@keyframes QKycbG_fade { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.QKycbG_markdown.markdown .katex-error { display: none; }
.QKycbG_markdown.markdown .katex-display { opacity: 0; animation: 0.4s ease 50ms 1 normal forwards running QKycbG_fade; }
.QKycbG_markdown.markdown p { margin-bottom: 0px !important; }