.ansi-black-fg { color: rgb(0, 0, 0); }
.ansi-black-bg { background-color: rgb(0, 0, 0); }
.ansi-red-fg { color: rgb(255, 102, 102); }
.ansi-red-bg { background-color: rgb(255, 102, 102); }
.ansi-green-fg { color: rgb(148, 244, 148); }
.ansi-green-bg { background-color: rgb(148, 244, 148); }
.ansi-yellow-fg { color: rgb(244, 244, 123); }
.ansi-yellow-bg { background-color: rgb(244, 244, 123); }
.ansi-blue-fg { color: rgb(158, 158, 255); }
.ansi-blue-bg { background-color: rgb(158, 158, 255); }
.ansi-magenta-fg { color: rgb(219, 107, 219); }
.ansi-magenta-bg { background-color: rgb(219, 107, 219); }
.ansi-cyan-fg { color: rgb(129, 238, 238); }
.ansi-cyan-bg { background-color: rgb(129, 238, 238); }
.ansi-white-fg { color: rgb(214, 214, 214); }
.ansi-white-bg { background-color: rgb(214, 214, 214); }
.ansi-bright-black-fg { color: rgb(110, 110, 110); }
.ansi-bright-red-fg { color: rgb(255, 168, 168); }
.ansi-bright-green-fg { color: rgb(0, 255, 0); }
.ansi-bright-yellow-fg { color: rgb(255, 255, 168); }
.ansi-bright-blue-fg { color: rgb(148, 148, 255); }
.ansi-bright-magenta-fg { color: rgb(255, 179, 255); }
.ansi-bright-cyan-fg { color: rgb(173, 255, 255); }
.ansi-bright-white-fg { color: rgb(255, 255, 255); }