.css-1g4pbdc { box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px; outline: none; border-radius: calc(7px); }
.css-rl6otz { border-radius: 8px; }
.css-13udsys { height: 100%; }
.css-pu3ahd { border-bottom: 1px solid rgba(0, 0, 0, 0.1); box-sizing: border-box; border-top-color: rgba(0, 0, 0, 0.1); border-right-color: rgba(0, 0, 0, 0.1); border-left-color: rgba(0, 0, 0, 0.1); padding: calc(16px) calc(24px); }
.css-pu3ahd:last-child { border-bottom-width: medium; border-bottom-style: none; border-bottom-color: currentcolor; }
.css-pu3ahd:first-of-type { border-top-left-radius: calc(7px); border-top-right-radius: calc(7px); }
.css-pu3ahd:last-of-type { border-bottom-left-radius: calc(7px); border-bottom-right-radius: calc(7px); }
.css-6ywzd { box-sizing: border-box; height: auto; max-height: 100%; }
.css-lik50z:first-of-type { border-top-left-radius: calc(7px); border-top-right-radius: calc(7px); }
.css-lik50z:last-of-type { border-bottom-left-radius: calc(7px); border-bottom-right-radius: calc(7px); }
.css-oztug0 { padding: calc(16px) calc(24px); }
.css-1d89eaj { border-top: 1px solid rgba(0, 0, 0, 0.1); box-sizing: border-box; border-right-color: rgba(0, 0, 0, 0.1); border-bottom-color: rgba(0, 0, 0, 0.1); border-left-color: rgba(0, 0, 0, 0.1); padding: calc(16px) calc(24px); }
.css-1d89eaj:first-of-type { border-top-width: medium; border-top-style: none; border-top-color: currentcolor; }
.css-1d89eaj:first-of-type { border-top-left-radius: calc(7px); border-top-right-radius: calc(7px); }
.css-1d89eaj:last-of-type { border-bottom-left-radius: calc(7px); border-bottom-right-radius: calc(7px); }
.css-tyg9rx { background: transparent; display: block; pointer-events: none; position: absolute; will-change: box-shadow; border-radius: inherit; inset: 0px; box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px; opacity: 1; margin: 0px !important; }
@media not (prefers-reduced-motion) {
  .css-tyg9rx { transition: box-shadow 200ms cubic-bezier(0.08, 0.52, 0.52, 1); }
}
.css-1yxc2ud { width: 16px; height: 16px; display: inline-block; margin: 5px 11px 0px; position: relative; color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)); overflow: visible; opacity: 1; background-color: transparent; }
.css-5zbsse { fill: transparent; stroke-width: 1.5px; stroke: rgb(221, 221, 221); }
.css-1r60s1s { fill: transparent; stroke-width: 1.5px; stroke: currentcolor; stroke-linecap: round; transform-origin: 50% 50%; animation: 1.4s linear 0s infinite normal both running animation-h38o9b; }
@-webkit-keyframes animation-h38o9b { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes animation-h38o9b { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}