.css-1y883gm { color: var(--wp-components-color-foreground, var(--wpds-color-foreground-content-neutral, #1e1e1e)); line-height: 1.4; margin: 0px; text-wrap: pretty; font-size: calc(13px); font-weight: normal; }
.css-w4lcwg { color: var(--wp-components-color-foreground, var(--wpds-color-foreground-content-neutral, #1e1e1e)); line-height: 1.4; margin: 0px; text-wrap: pretty; font-size: calc(13px); font-weight: normal; text-align: left; }
.css-7g5ii0.css-7g5ii0 { z-index: 1000001; }
.css-hmwkew { display: flex; -webkit-box-align: stretch; align-items: stretch; overflow-x: auto; --direction-factor: 1; --direction-start: left; --direction-end: right; --selected-start: var( --selected-left, 0 ); position: relative; --antialiasing-factor: 100; }
.css-hmwkew[aria-orientation="vertical"] { flex-direction: column; }
.css-hmwkew:where([aria-orientation="horizontal"]) { width: fit-content; }
.css-hmwkew:dir(rtl) { --direction-factor: -1; --direction-start: right; --direction-end: left; --selected-start: var( --selected-right, 0 ); }
@media not (prefers-reduced-motion) {
  .css-hmwkew[data-indicator-animated]::before { transition-property: transform, border-radius, border-block; transition-duration: 0.2s; transition-timing-function: ease-out; }
}
.css-hmwkew::before { content: ""; position: absolute; pointer-events: none; transform-origin: var( --direction-start ) top; outline: transparent solid 2px; outline-offset: -1px; }
.css-hmwkew[aria-orientation="horizontal"] { --fade-width: 64px; --fade-gradient-base: transparent 0%,black var( --fade-width ); --fade-gradient-composed: var( --fade-gradient-base ),black 60%,transparent 50%; }
.css-hmwkew[aria-orientation="horizontal"].is-overflowing-first { mask-image: linear-gradient(
				to var( --direction-end ),
				var( --fade-gradient-base )
			); }
.css-hmwkew[aria-orientation="horizontal"].is-overflowing-last { mask-image: linear-gradient(
				to var( --direction-start ),
				var( --fade-gradient-base )
			); }
.css-hmwkew[aria-orientation="horizontal"].is-overflowing-first.is-overflowing-last { mask-image: linear-gradient(
					to right,
					var( --fade-gradient-composed )
				),linear-gradient( to left, var( --fade-gradient-composed ) ); }
.css-hmwkew[aria-orientation="horizontal"]::before { bottom: 0px; height: 0px; width: calc( var( --antialiasing-factor ) * 1px ); transform: translateX(
					calc(
						var( --selected-start ) * var( --direction-factor ) *
							1px
					)
				) scaleX(
					calc(
						var( --selected-width, 0 ) /
							var( --antialiasing-factor )
					)
				); border-bottom: var( --wp-admin-border-width-focus ) solid var(--wp-components-color-gray-700, var(--wpds-color-foreground-content-neutral-weak, #707070)); }
.css-hmwkew[aria-orientation="vertical"]::before { border-radius: 2px/calc(
					2px /
						(
							var( --selected-height, 0 ) /
								var( --antialiasing-factor )
						)
				); top: 0px; left: 0px; width: 100%; height: calc( var( --antialiasing-factor ) * 1px ); transform: translateY( calc( var( --selected-top, 0 ) * 1px ) ) scaleY(
					calc(
						var( --selected-height, 0 ) /
							var( --antialiasing-factor )
					)
				); background-color: var(--wp-components-color-gray-100, var(--wpds-color-background-surface-neutral, #fcfcfc)); }
.css-hmwkew[aria-orientation="vertical"][data-select-on-move="true"]:has(:is(:focus-visible, [data-focus-visible]))::before { box-sizing: border-box; border: var( --wp-admin-border-width-focus ) solid var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)); border-block-width: calc(
				var( --wp-admin-border-width-focus, 1px ) /
					(
						var( --selected-height, 0 ) /
							var( --antialiasing-factor )
					)
			); }
.css-jznp7x { border-radius: 0px; background: transparent; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; box-shadow: none; flex: 1 0 auto; white-space: nowrap; display: flex; -webkit-box-align: center; align-items: center; cursor: pointer; line-height: 1.2; font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-weight: 400; font-size: 13px; color: var(--wp-components-color-foreground, var(--wpds-color-foreground-content-neutral, #1e1e1e)); position: relative; }
.css-jznp7x[aria-disabled="true"] { cursor: default; color: var(--wp-components-color-gray-600, var(--wpds-color-stroke-interactive-neutral, #8d8d8d)); }
.css-jznp7x:not([aria-disabled="true"]):is(:hover, [data-focus-visible]) { color: var(--wp-components-color-foreground, var(--wpds-color-foreground-content-neutral, #1e1e1e)); }
.css-jznp7x:focus:not(:disabled) { box-shadow: none; outline: none; }
.css-jznp7x::after { position: absolute; pointer-events: none; outline: var( --wp-admin-border-width-focus ) solid var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)); border-radius: 2px; opacity: 0; }
@media not (prefers-reduced-motion) {
  .css-jznp7x::after { transition: opacity 0.1s linear; }
}
.css-jznp7x[data-focus-visible]::after { opacity: 1; }
[aria-orientation="horizontal"] .css-jznp7x { padding-inline: calc(16px); height: calc(48px); scroll-margin: 24px; }
[aria-orientation="horizontal"] .css-jznp7x::after { content: ""; inset: calc(12px); }
[aria-orientation="vertical"] .css-jznp7x { padding: calc(8px) calc(12px); min-height: calc(40px); }
[aria-orientation="vertical"] .css-jznp7x[aria-selected="true"] { fill: currentcolor; }
[aria-orientation="vertical"][data-select-on-move="false"] .css-jznp7x::after { content: ""; inset: var( --wp-admin-border-width-focus ); }
.css-9at4z3 { -webkit-box-flex: 1; flex-grow: 1; display: flex; -webkit-box-align: center; align-items: center; }
[aria-orientation="horizontal"] .css-9at4z3 { -webkit-box-pack: center; justify-content: center; }
[aria-orientation="vertical"] .css-9at4z3 { -webkit-box-pack: start; justify-content: start; }
.css-3ps98l { flex-shrink: 0; margin-inline-end: calc(-4px); opacity: 0; }
[aria-orientation="horizontal"] .css-3ps98l { display: none; }
[role="tab"]:is([aria-selected="true"], [data-focus-visible], :hover) .css-3ps98l { opacity: 1; }
@media not (prefers-reduced-motion) {
  [data-select-on-move="true"] [role="tab"]:is([aria-selected="true"]) .css-3ps98l { transition: opacity 0.15s linear 0.15s; }
}
.css-3ps98l:dir(rtl) { rotate: 180deg; }
.css-qi2azi:focus { box-shadow: none; outline: none; }
.css-qi2azi[data-focus-visible] { box-shadow: 0 0 0 var( --wp-admin-border-width-focus ) var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)); outline: transparent solid 2px; outline-offset: 0px; }
.css-1xd6ev0 { position: relative; z-index: 1000000; outline: transparent solid 2px !important; }
.css-1yxc2ud { width: 16px; height: 16px; display: inline-block; margin: 5px 11px 0px; position: relative; color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)); overflow: visible; opacity: 1; background-color: transparent; }
.css-5zbsse { fill: transparent; stroke-width: 1.5px; stroke: rgb(221, 221, 221); }
.css-1r60s1s { fill: transparent; stroke-width: 1.5px; stroke: currentcolor; stroke-linecap: round; transform-origin: 50% 50%; animation: 1.4s linear 0s infinite normal both running animation-h38o9b; }
@-webkit-keyframes animation-h38o9b { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes animation-h38o9b { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.css-37btb2 input[type="search"]::-webkit-search-decoration, .css-37btb2 input[type="search"]::-webkit-search-cancel-button, .css-37btb2 input[type="search"]::-webkit-search-results-button, .css-37btb2 input[type="search"]::-webkit-search-results-decoration { appearance: none; }
.css-1kk9vbw { font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; font-size: 13px; box-sizing: border-box; }
.css-1kk9vbw *, .css-1kk9vbw ::before, .css-1kk9vbw ::after { box-sizing: inherit; }
.css-1kk9vbw input[type="search"]::-webkit-search-decoration, .css-1kk9vbw input[type="search"]::-webkit-search-cancel-button, .css-1kk9vbw input[type="search"]::-webkit-search-results-button, .css-1kk9vbw input[type="search"]::-webkit-search-results-decoration { appearance: none; }
.components-panel__row .css-1chyuqs { margin-bottom: inherit; }
.css-lewyd4 { box-sizing: border-box; position: relative; border-radius: 2px; padding-top: 0px; }
.css-lewyd4:focus-within:not(:has(:is(.em5sgkm8, .em5sgkm7):focus-within)) .em5sgkm6 { border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)); box-shadow: 0 0 0 0.5px var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9)); outline: transparent solid 2px; outline-offset: -2px; }
.css-l7ggfi { -webkit-box-align: center; align-items: center; box-sizing: border-box; border-radius: inherit; display: flex; flex: 1 1 0%; position: relative; background-color: var(--wp-components-color-background, var(--wpds-color-background-surface-neutral-strong, #fff)); width: 100%; }
.css-pvvbxf { box-sizing: border-box; display: block; }
.css-zd287w { display: flex; padding-inline-start: 8px; }
.css-1i54h4p:dir(ltr) { transform: scaleX(-1); }
.css-1gduwhc.css-1gduwhc.css-1gduwhc { background-color: transparent; box-sizing: border-box; border-width: medium; border-style: none; border-color: currentcolor; border-image: initial; color: var(--wp-components-color-foreground, var(--wpds-color-foreground-content-neutral, #1e1e1e)); display: block; font-family: inherit; margin: 0px; outline: none; width: 100%; font-size: 16px; height: 40px; line-height: 1; min-height: 40px; padding-left: 12px; padding-right: 12px; padding-inline: calc(4px); box-shadow: none !important; }
@media (min-width: 600px) {
  .css-1gduwhc.css-1gduwhc.css-1gduwhc { font-size: 13px; }
}
.css-1gduwhc.css-1gduwhc.css-1gduwhc::-webkit-input-placeholder { color: color-mix(in srgb, var(--wp-components-color-foreground, var(--wpds-color-foreground-content-neutral, #1e1e1e)), transparent 38%); }
.css-1gduwhc.css-1gduwhc.css-1gduwhc[type="email"], .css-1gduwhc.css-1gduwhc.css-1gduwhc[type="url"] { direction: ltr; }
.css-jgf79h { -webkit-box-align: center; align-items: center; align-self: stretch; box-sizing: border-box; display: flex; }
.css-x9it49.css-x9it49.css-x9it49 { box-sizing: border-box; border-color: var(--wp-components-color-gray-600, var(--wpds-color-stroke-interactive-neutral, #8d8d8d)); border-radius: inherit; border-style: solid; border-width: 1px; inset: 0px; margin: 0px; padding: 0px 0px 0px 2px; pointer-events: none; position: absolute; }