
@media print { #wpadminbar { display:none; } }
			@media (min-width: 1025px) {
				.atb-hide-desktop {
					display: none !important;
				}
			}

			@media (min-width: 768px) and (max-width: 1024px) {
				.atb-hide-tablet {
					display: none !important;
				}
			}

			@media (max-width: 767px) {
				.atb-hide-mobile {
					display: none !important;
				}
			}
		

			@media (min-width: 1025px) {
				.atb-hide-desktop {
					display: none !important;
				}
			}

			@media (min-width: 768px) and (max-width: 1024px) {
				.atb-hide-tablet {
					display: none !important;
				}
			}

			@media (max-width: 767px) {
				.atb-hide-mobile {
					display: none !important;
				}
			}
		
			.botiga-dimensions-control > div {
				max-width: 100%;
				gap: 3px;
			}

			.botiga-dimensions-control .components-number-control {
				margin-bottom: 8px;
			}

			.botiga-inspector-tabs-content-wrapper .components-base-control__label,
			.botiga-inspector-tabs-content-wrapper .components-input-control__label {
				text-transform: none !important;
				font-weight: 400 !important;
				font-size: inherit !important;
			}

			.athemes-blocks-inspector-tabs-buttons-wrapper {
				display: flex;
				border-top: 1px solid #ddd;
			}

			.athemes-blocks-inspector-tabs-buttons-wrapper .athemes-blocks-inspector-tabs-button-layout {
				display: flex;
				flex: 1;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 5px;
				height: 90px;
				border: 0;
				border-right: 1px solid #ddd;
				outline: none !important;
				box-shadow: none !important;
			}

			.athemes-blocks-inspector-tabs-buttons-wrapper .athemes-blocks-inspector-tabs-button-layout:last-child {
				border-right: 0;
			}
		
/*# sourceURL=css-inline-concat-dashicons%2Cadmin-bar%2Cbuttons%2Cmedia-views%2Ceditor-buttons%2Cwp-theme%2Cwp-components%2Cwp-preferences%2Cwp-block-editor%2Cwp-reusable-blocks%2Cwp-patterns%2Cwp-media-utils%2Cwp-editor%2Cwp-base-styles%2Ccommon%2Cforms%2Cwp-reset-editor-styles%2Cwp-block-library%2Cwp-block-editor-content%2Cwp-edit-blocks%2Cwp-commands%2Cwp-edit-post%2Cwp-block-directory%2Cwp-format-library%2Cadmin-menu%2Cdashboard%2Clist-tables%2Cedit%2Crevisions%2Cmedia%2Cthemes%2Cabout%2Cnav-menus%2Cwp-pointer%2Cwidgets%2Csite-icon%2Cl10n%2Cwp-tooltip%2Cwp-auth-check%2Ccode-editor */
