
@font-face {
			font-family: "star";
			src: none;
			src: none format("embedded-opentype"),
				url("../assets/335cbf607c55.woff") format("woff"),
				none format("truetype"),
				none format("svg");
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: "WooCommerce";
			src: none;
			src: none format("embedded-opentype"),
				url("../assets/dc54d4f86498.woff") format("woff"),
				none format("truetype"),
				none format("svg");
			font-weight: normal;
			font-style: normal;
		}
/*# sourceURL=botiga-woocommerce-style-inline-css */
