.omapi-analytics-settings__options-ga > label {
  display: block;
  margin-bottom: 10px;
}
.omapi-analytics-settings__options-ga-more {
  display: block;
  margin-top: 10px;
}
.omapi-analytics-settings__options-ga-selects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.omapi-analytics-settings__options-ga-selects > div {
  flex-basis: calc(50% - 9px);
  width: calc(50% - 9px);
}