.om-not-connected .header {
  background-color: transparent !important;
  padding: 30px 30px 0 !important;
}
.om-not-connected .header .close button {
  background: transparent;
  border: 0;
  color: #b2b4b8;
  padding: 0 !important;
}
.om-not-connected .content {
  align-items: center;
  color: #646970;
  display: flex;
  flex-direction: column;
  padding: 0 40px 55px !important;
}
.om-not-connected .content h2 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 5px 0 13px;
  letter-spacing: 0.2px;
}
.om-not-connected .content p {
  margin-bottom: 25px;
}
.om-not-connected .content .not-connected__buttons {
  display: flex;
}
.om-not-connected .content .not-connected__buttons span {
  margin-right: 0 !important;
  font-size: 0.9em;
  display: flex;
  align-items: center;
}
.om-not-connected .content .not-connected__buttons .omapi-button {
  margin: 0 10px;
  font-size: 18px;
  padding: 9px 16px;
}