/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.campaign-type-filter__search[data-v-6e2a12c2] {
  position: relative;
  width: 278px;
}
@media screen and (max-width: 990px) {
.campaign-type-filter__search[data-v-6e2a12c2] {
    width: 155px;
}
}
.campaign-type-filter__search svg[data-v-6e2a12c2] {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -6.5px;
  width: 13px;
  height: 13px;
}
.campaign-type-filter__search svg.clear-search[data-v-6e2a12c2] {
  cursor: pointer;
}
.campaign-type-filter__search .omapi-input[type=text][data-v-6e2a12c2] {
  width: 100%;
  height: 40px;
  padding-right: 24px;
  margin: 0;
}
.campaign-type-filter__search .omapi-input[type=text][data-v-6e2a12c2]:focus {
  border-color: #2271b1;
  box-shadow: none;
}