.omapi-featured-in {
  text-align: center;
}
.omapi-featured-in h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
.omapi-featured-in img {
  margin-bottom: 60px;
  max-width: 100%;
}