.omapi-review-bar.omapi-card__notitle.omapi-card__nofooter .omapi-card-content {
  padding: 24px 17px;
}
.omapi-review-bar__title {
  font-size: 21px;
  line-height: 1.4em;
  font-weight: 600;
}
.omapi-review-bar__buttons {
  margin-top: 20px;
}
.omapi-review-bar__buttons .omapi-button {
  height: 34px;
}
.omapi-review-bar__step {
  margin-top: 20px;
}
.omapi-review-bar__step a + a {
  margin-right: 10px;
}