.om-circle-loading[data-v-bb6314bc] {
  margin: 10px auto;
}
.checkbox-cell[data-v-bb6314bc] {
  width: 25px;
}
.form-checkbox-no-label[data-v-bb6314bc],
.form-checkbox-no-label .form-checkbox-wrapper[data-v-bb6314bc] {
  display: block;
}