.dashboard-card {
  background: #fff;
  border-radius: 5px;
}
.dashboard-card .toolbar,
.dashboard-card .content {
  display: block;
}
.dashboard-card .toolbar {
  padding: 20px;
}
.dashboard-card .content {
  padding: 0 20px 20px;
}