/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-no-connection[data-v-57cd6f4c] {
  text-align: center;
}
.omapi-no-connection-title[data-v-57cd6f4c] {
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
}
.omapi-no-connection-subtitle[data-v-57cd6f4c], .omapi-no-connection-buttons[data-v-57cd6f4c] {
  font-size: 13px;
  line-height: 150%;
  color: #646970;
  margin: 5px 0 15px;
}
.omapi-no-connection-subtitle .omapi-button.omapi-button__medium[data-v-57cd6f4c], .omapi-no-connection-buttons .omapi-button.omapi-button__medium[data-v-57cd6f4c] {
  margin: 0 10px 10px;
  font-size: 14px;
}
.omapi-no-connection .omapi-no-connection-buttons[data-v-57cd6f4c] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.omapi-no-connection .omapi-no-connection-buttons .omapi-button[data-v-57cd6f4c] {
  margin-bottom: 0;
  padding: 10px;
}
.omapi-no-connection .omapi-no-connection-buttons .omapi-button[data-v-57cd6f4c]:last-child {
  padding: 11px 10px;
}