/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-tabnav {
  display: flex;
  border-bottom: solid 2px #E8E8EB;
  margin-bottom: 25px;
}
.omapi-tabnav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 15px;
  color: #6C7781;
  padding: 0 18px;
  cursor: pointer;
}
.omapi-tabnav__item-active {
  font-weight: 600;
  color: #23282D;
  border-bottom: solid 2px #087CE1;
  margin-bottom: -2px;
}