/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-table .campaign-table-status-dates {
  border-collapse: collapse;
}
.omapi-table .campaign-table-status-dates th,
.omapi-table .campaign-table-status-dates td {
  font-weight: normal;
  text-align: left;
  font-size: 13px;
  color: #FFFFFF;
  padding: 0 4px 0 0;
  white-space: nowrap;
}
.omapi-table .campaign-table-status-dates td:last-child {
  padding-right: 0;
}
.omapi-table .campaign-table-status-dates th {
  text-align: right;
}