/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.monster-link-modal .buttons {
  justify-content: flex-end !important;
}
.monster-link-modal .buttons .omapi-button {
  margin-right: 0;
}
.monster-link-modal .omapi-codebox {
  background-color: transparent;
  padding: 0 0 25px 0;
}
.monster-link-modal .omapi-codebox .omapi-has-tooltip {
  display: block;
  width: 100%;
}
.monster-link-modal .omapi-codebox__copy {
  display: flex;
  width: 100%;
}
.monster-link-modal .omapi-codebox__copy span {
  background-color: #F7F8FB;
}
.monster-link-modal .omapi-codebox__code {
  flex: 1;
}