/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-integrations-form__uncanny-automator__container[data-v-539fa534] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 40px);
  gap: 10px;
}
.omapi-integrations-form__uncanny-automator__container *[data-v-539fa534] {
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 1.6 !important;
  color: #646970 !important;
}
@media (max-width: 959px) {
.omapi-integrations-form__uncanny-automator__container *[data-v-539fa534] {
    font-size: 12px !important;
    line-height: 1.2 !important;
}
}
.omapi-integrations-form__uncanny-automator__container strong[data-v-539fa534] {
  font-weight: 600 !important;
}
.omapi-integrations-form__uncanny-automator__container ul[data-v-539fa534] {
  list-style: inside !important;
}
.omapi-integrations-form__uncanny-automator__container ol > li[data-v-539fa534]:not(:last-child) {
  margin-bottom: 25px;
}
@media (max-width: 959px) {
.omapi-integrations-form__uncanny-automator__container ol > li[data-v-539fa534]:not(:last-child) {
    margin-bottom: 20px !important;
}
}
@media (max-width: 959px) {
.omapi-integrations-form__uncanny-automator__container[data-v-539fa534] {
    grid-template-columns: 1fr;
}
.omapi-integrations-form__uncanny-automator__container-item[data-v-539fa534] {
    grid-column: span 12 !important;
    align-self: auto;
}
.omapi-integrations-form__uncanny-automator__container ul li[data-v-539fa534] {
    margin-bottom: 2px !important;
}
.omapi-integrations-form__uncanny-automator__container p[data-v-539fa534] {
    margin: 0 0 10px !important;
}
}
.omapi-integrations-form__uncanny-automator__intro[data-v-539fa534] {
  grid-column: span 9;
  grid-row: span 1;
  font-weight: 600 !important;
}
@media (max-width: 959px) {
.omapi-integrations-form__uncanny-automator__intro[data-v-539fa534] {
    grid-row: span 2;
}
}
.omapi-integrations-form__uncanny-automator__mascot[data-v-539fa534] {
  grid-column: span 3;
  grid-row: span 3;
  justify-self: end;
}
.omapi-integrations-form__uncanny-automator__mascot img[data-v-539fa534] {
  height: 100%;
  width: auto;
}
@media (max-width: 959px) {
.omapi-integrations-form__uncanny-automator__mascot[data-v-539fa534] {
    display: none;
}
}
.omapi-integrations-form__uncanny-automator__details[data-v-539fa534] {
  grid-column: span 7;
  grid-row: span 9;
}
@media (max-width: 959px) {
.omapi-integrations-form__uncanny-automator__details[data-v-539fa534] {
    grid-row: span 8;
}
}
.omapi-integrations-form__uncanny-automator__integration-icon[data-v-539fa534] {
  grid-column: span 5;
  grid-row: span 9;
  align-self: end;
}
.omapi-integrations-form__uncanny-automator__integration-icon img[data-v-539fa534] {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
@media (max-width: 959px) {
.omapi-integrations-form__uncanny-automator__integration-icon[data-v-539fa534] {
    display: none;
}
}
.omapi-integrations-form__uncanny-automator__integration-last-words[data-v-539fa534] {
  grid-column: span 7;
  grid-row: 12;
}