.omapi-rules-list__ruleset[data-v-30d5d870] {
  max-width: 100%;
  overflow-wrap: break-word;
  margin-top: 15px;
}
.omapi-rules-list__ruleset-title[data-v-30d5d870] {
  font-size: 14px;
  margin: 0 0 8px;
}
.omapi-rules-list__ruleset[data-v-30d5d870]:first-child {
  margin-top: 0;
}
.omapi-rules-list__summary[data-v-30d5d870] {
  position: relative;
}
.omapi-rules-list__fadeout[data-v-30d5d870] {
  background: linear-gradient(transparent, #fff);
  bottom: 0;
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  width: 100%;
}
.rulesets-loading[data-v-30d5d870] {
  margin: 0 0 20px;
}