.omapi-screen .omapi-subscribers-page .omapi-search {
  align-items: center;
}
.omapi-screen .omapi-subscribers-page .omapi-search input[type=search] {
  flex: 1;
  margin-bottom: 0;
  height: 30px;
}
.omapi-screen .omapi-subscribers-page .omapi-search button[type=submit] {
  padding: 6px 12px;
}