.campaign-feedback em,
.campaign-feedback i {
  font-style: italic;
}
.campaign-feedback .flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.campaign-feedback .feedback-form textarea {
  width: 75%;
  padding: 10px;
  margin: 20px 0;
}
.campaign-feedback .feedback-form textarea:focus {
  outline: none;
  border-color: #f2f4f7;
}
.campaign-feedback .feedback-form .feedback-submit-error {
  color: #ff3333;
}