.upsell-alert {
  margin-bottom: 30px;
  padding-right: 12px !important;
}
.upsell-alert .alert-message {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.upsell-alert .alert-message > span {
  padding-right: 50px;
}
.upsell-alert .alert-message a.button {
  min-width: 118px;
}
.upsell-alert-button {
  flex-shrink: 0;
  text-align: center;
}