/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-screen .omapi-monsterleads__actions {
  display: flex;
  justify-content: space-between;
  margin: 11px 0 16px;
  align-items: center;
}
.omapi-screen .omapi-monsterleads__actions-left {
  display: flex;
}
.omapi-screen .omapi-monsterleads__actions-link {
  margin-right: 16px;
  color: #087CE1;
  display: flex;
  align-items: center;
}
.omapi-screen .omapi-monsterleads__actions-link i.fa {
  margin-right: 7px;
}
.omapi-screen .omapi-monsterleads__actions-link .omapi-app-exit {
  display: flex;
  align-items: center;
}
.omapi-screen .omapi-monsterleads__actions-right .omapi-pagination {
  margin: 0;
}