/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
#omapi-affiliate-link-position {
  border-color: #C9D0D6;
}
.omapi-affiliate-link-position-setting {
  display: flex;
  align-items: center;
}
.omapi-affiliate-link-position-setting > span {
  padding-right: 10px;
}