.welcome-video.v--modal-overlay {
  background: rgba(0, 0, 0, 0.9);
}
.welcome-video.v--modal-overlay .v--modal {
  background: #000;
}
.welcome-video.v--modal-overlay .v--modal .content {
  padding: 0;
}
.welcome-video.v--modal-overlay .v--modal .content iframe {
  margin-bottom: -6px;
}