.no-segments-content[data-v-1b7c3980] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 45%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;
}
.no-segments-content .omapi-button.omapi-button__large[data-v-1b7c3980] {
  font-size: 16px;
  padding: 14px 18px;
  margin: 0 0 20px 0;
}
.no-segments-content .omapi-button__link[data-v-1b7c3980] {
  font-size: 14px;
}