.create-new-button {
  margin-left: 10px;
  max-height: 37px;
  position: relative;
  display: inline-block;
  width: auto;
}
.create-new-button svg {
  width: 32px;
  height: 32px;
  vertical-align: top;
  transform: translateY(-50%) translateX(-50%);
  top: 50%;
  left: 50%;
  position: absolute;
}