.omapi-settings-page[data-v-219804a6] {
  position: relative;
}
.omapi-settings-page .omapi-settings-page__top-save[data-v-219804a6] {
  position: absolute;
  top: 12px;
  right: 0;
  margin-right: 0;
}