/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal {
  border-radius: 0;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__content {
  flex-direction: column;
  text-align: center;
  padding: 0 90px 56px;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__title {
  font-size: 24px;
  line-height: 1.4em;
  margin-top: 0;
  margin-bottom: 24px;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__text {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 50px;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__text-disclaimer {
  font-size: 14px;
  margin: 26px 0 0;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__provider {
  margin-bottom: 24px;
  border: solid 1px #c9d0d6;
  max-width: 570px;
  padding: 20px 30px;
  text-align: left;
  display: flex;
  align-items: center;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  cursor: pointer;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__provider .omapi-multi-column__title {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 1em;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__provider .omapi-multi-column__text, .omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__provider .omapi-multi-column__link {
  font-size: 14px;
  line-height: 1.5em;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .omapi-email-upsell__preferred:after {
  content: "Preferred";
  font-size: 10px;
  margin-left: 10px;
  background-color: #46b450;
  color: white;
  padding: 4px 11px 5px;
  border-radius: 2px;
  vertical-align: top;
  text-transform: uppercase;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .close {
  display: flex;
  justify-content: flex-end;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .close button {
  padding: 30px 30px 0;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .close button:hover {
  cursor: pointer;
}
.omapi-screen .v--modal-overlay.omapi-email-upsell .v--modal .close button svg {
  color: #646970;
}