.input-copy-group {
  display: flex;
  align-items: flex-start;
}
.input-copy-group input {
  margin-right: 10px;
  font-family: monospace !important;
  font-size: 0.9em !important;
  line-height: 14px;
  height: 37px;
}