/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.row-bg-odd[data-v-bcbf6474] {
  background-color: #f9f9f9;
}
.omapi-table .campaign-table-name .no-link-style[data-v-bcbf6474] {
  color: #6C7781;
  font-weight: initial;
}
.omapi-table .campaign-table-ab[data-v-bcbf6474] {
  position: relative;
}
.omapi-table .campaign-table-ab .split-button[data-v-bcbf6474] {
  align-items: center;
  background-color: #FAFAFB;
  border: 1px solid #C9D0D6;
  border-radius: 2px;
  bottom: -10px;
  color: #6C7781;
  display: flex;
  font-family: "Proxima Nova", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  height: 20px;
  justify-content: center;
  left: 15px;
  position: absolute;
  z-index: 99;
}
.omapi-table .campaign-table-ab .split-button[data-v-bcbf6474]:hover {
  background-color: #087CE1;
  border-color: #087CE1;
  color: #FFFFFF;
  cursor: pointer;
}
.omapi-table .campaign-table-ab .split-button.hidden[data-v-bcbf6474] {
  display: none;
}
.omapi-table .campaign-table-ab .split-button span[data-v-bcbf6474] {
  margin-right: 2px;
}
.omapi-table .campaign-table-ab .split-button svg[data-v-bcbf6474] {
  height: 12px;
  width: auto;
}
.omapi-table .campaign-table-status .content[data-v-bcbf6474] {
  display: flex;
}
.omapi-table .campaign-table-status .scheduled-button[data-v-bcbf6474] {
  background-color: transparent;
  border: none;
  margin-left: 2px;
  padding: 0;
}
.omapi-table .campaign-table-actions .omapi-button[data-v-bcbf6474] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  height: 36px;
  width: 36px;
  box-sizing: border-box;
  padding: 0;
}
.omapi-table .campaign-table-actions .action-trash-campaign .omapi-button[data-v-bcbf6474],
.omapi-table .campaign-table-actions .action-more .omapi-button[data-v-bcbf6474] {
  width: 33px;
}
.omapi-screen .campaign-table-additional-actions .omapi-button[data-v-bcbf6474] {
  margin-right: 0;
}
.omapi-table th.campaign-table-actions[data-v-bcbf6474] {
  width: 180px;
}