/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.om-university-promo .header {
  background-color: transparent !important;
  padding: 30px 30px 0 !important;
}
.om-university-promo .header .close button {
  color: #b2b4b8;
}
.om-university-promo .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 100px 40px !important;
}
.om-university-promo .content h2 {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  line-height: 140%;
  margin-top: 10px;
}
.om-university-promo .content p {
  text-align: center;
  padding: 0 35px;
}
.om-university-promo .content .omapi-list__onecol {
  align-items: center;
  justify-content: center;
}
.om-university-promo .content .omapi-list__onecol .omapi-list__item {
  max-width: 365px;
  color: #23282D;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.om-university-promo .content .omapi-button.omapi-button__monster {
  margin: 18px 0 24px;
  line-height: 100%;
}
.om-university-promo .content .omapi-button__link {
  font-size: 14px;
  line-height: 130%;
}