.omapi-screen .omapi-monsterleads__table .bulk-actions {
  margin-right: 20.5px;
  display: flex;
}
.omapi-screen .omapi-monsterleads__table .bulk-actions select {
  min-width: 167px;
  margin-right: 6px;
  font-size: 13px;
  line-height: 1.3em;
}
.omapi-screen .omapi-monsterleads__table .bulk-actions button {
  padding: 6px 12px;
}