/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .v--modal {
  border-radius: 0;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper header {
  border-radius: 0;
  background: #FFFFFF;
  color: #23282D;
  border-bottom: solid 1px #DDDDDD;
  font-weight: 600;
  line-height: 140%;
  padding: 20px 30px 19px;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper header .close {
  color: #646970;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper header .close svg {
  width: 13px !important;
  height: 13px;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__content {
  padding: 0;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__content .omapi-table {
  border-collapse: collapse;
  font-size: 16px;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__content .omapi-table th {
  padding: 22px 29px 22px 24px;
  color: #23282D;
  width: 1px;
  font-weight: 400;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__content .omapi-table .om-table-cell {
  width: 3px;
  color: #646970;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__content .omapi-table .om-table-cell i.fa {
  font-size: 14px;
  margin-left: 3px;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__infoactions {
  flex-basis: 275px;
  padding: 19px 30px 40px;
  border-left: solid 1px #F1F1F1;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__infoactions .omapi-multi-column__title {
  font-size: 14px;
  font-weight: 600;
  color: #23282D;
  margin-bottom: 8px;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__infoactions .omapi-multi-column__text {
  font-size: 14px;
  font-weight: 400;
  color: #646970;
  line-height: 150%;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__actions {
  font-size: 14px;
  line-height: 150%;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__actions i.fa {
  margin-right: 10px;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__action-email {
  color: #087CE1;
  margin-bottom: 8px;
  display: block;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__action-delete {
  color: #DC3232;
  margin-bottom: 8px;
  cursor: pointer;
}
.omapi-screen .v--modal-overlay.omapi-leadmodal__wrapper .omapi-leadmodal__action-delete:hover {
  text-decoration: underline;
}