/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.om-custom-integrations .content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 90px 40px !important;
}
.om-custom-integrations .content h2 {
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  line-height: 140%;
  margin-top: 10px;
}
.om-custom-integrations .content p {
  font-size: 16px;
  text-align: center;
  padding: 0 35px;
}
.om-custom-integrations .content .om-custom-integrations-cards {
  margin-bottom: 20px;
}
.om-custom-integrations-learn-more a {
  font-size: 14px;
}
.om-custom-integrations-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.om-custom-integrations-cards .custom-integration-card {
  background-color: #fff;
  border: 2px solid #c9d0d6;
  display: flex;
  height: 176px;
  width: 219px;
  border-radius: 3px;
}
.om-custom-integrations-cards .custom-integration-card:hover {
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.05);
  border-color: #087CE1;
  cursor: pointer;
}
.om-custom-integrations-cards .custom-integration-card .custom-integration-card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}