.omapi-monsterleads__not-connected[data-v-0e1f53b6] {
  background: none center no-repeat;
  background-size: contain;
  min-height: 1337px;
  background-position: top center;
}
.omapi-monsterleads__not-connected[data-v-0e1f53b6] .omapi-no-connection-title {
  font-size: 24px;
  margin: 0 auto 14px;
}
.omapi-monsterleads__not-connected[data-v-0e1f53b6] .omapi-no-connection-subtitle {
  max-width: 560px;
  margin: 0 auto 24px;
  font-size: 16px;
}
.omapi-monsterleads__not-connected .omapi-list__twocol[data-v-0e1f53b6] {
  justify-content: flex-end;
}
@media screen and (max-width: 1050px) {
.omapi-monsterleads__not-connected .omapi-list__twocol[data-v-0e1f53b6] {
    justify-content: center;
}
}
.omapi-monsterleads__not-connected .omapi-list__twocol .omapi-list__item[data-v-0e1f53b6] {
  display: flex;
  align-items: center;
  flex: 0 0 49%;
}
@media screen and (max-width: 1050px) {
.omapi-monsterleads__not-connected .omapi-list__twocol .omapi-list__item[data-v-0e1f53b6] {
    flex: 0 1 75%;
}
}