/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-modal.preview-modal .campaign-meta {
  font-weight: 400;
  text-align: center;
}
.omapi-modal.preview-modal .campaign-meta .campaign-meta__item {
  font-size: 0.75rem;
}
.omapi-modal.preview-modal .campaign-meta .campaign-meta__item .campaign-meta__key {
  color: #6C7781;
  margin-right: 5px;
}
.omapi-modal.preview-modal .campaign-meta .campaign-meta__item .campaign-meta__value {
  color: #23282D;
}
body .v--modal-overlay.preview-modal .v--modal {
  border-radius: 0;
}
body .v--modal-overlay.preview-modal .v--modal .header {
  background-color: #F7F8FB !important;
  color: #23282D !important;
  text-align: center;
  display: block !important;
}
body .v--modal-overlay.preview-modal .v--modal .header .close {
  position: absolute;
  right: 20px;
  top: 0;
  height: 55px;
  max-height: none !important;
  color: #6C7781 !important;
}
body .v--modal-overlay.preview-modal .v--modal .content .screenshot {
  margin: 0;
}
body .v--modal-overlay.preview-modal .v--modal .content .toggle {
  border-color: #C9D0D6;
  color: #555D66;
  font-size: 13px;
}
body .v--modal-overlay.preview-modal .v--modal .content .toggle.active, body .v--modal-overlay.preview-modal .v--modal .content .toggle:hover, body .v--modal-overlay.preview-modal .v--modal .content .toggle:focus, body .v--modal-overlay.preview-modal .v--modal .content .toggle:active {
  border-color: #087CE1;
  color: #FFFFFF;
}
body .v--modal-overlay.preview-modal .v--modal .footer {
  font-size: 13px;
  line-height: 1.5;
  padding: 0 20px 20px;
}