.om-notification-loading[data-v-37958e51] {
  opacity: 0.5;
}
.om-circle-loading[data-v-37958e51] {
  width: 20px;
  height: 20px;
  background-size: 20px;
  margin: 0;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-left: 10px;
}
.om-notification-button-sep[data-v-37958e51] {
  padding: 0 0 0 20px;
}
.dismiss[data-v-37958e51] {
  display: inline-block;
}