
		html div#om-jghe2dlhssaqoe4llijs .baring-c-canvas *:not(.ignore-reset):not([class^="wpforms-"]) {box-sizing:border-box;}
		html div#om-jghe2dlhssaqoe4llijs .baring-c-canvas .Element__content {min-height: 30px;}
		html div#om-jghe2dlhssaqoe4llijs .baring-c-canvas button:not(.ignore-reset):not([class^="wpforms-"]) {width: auto;}
	
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper input:not([type="submit"]):not(.ignore-reset):not([class^="wpforms-"]),
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper select:not(.ignore-reset):not([class^="wpforms-"]),
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper textarea:not(.ignore-reset):not([class^="wpforms-"]) {
		background-color: #fff;
		width: 100%;
		height: auto;
		border: 1px solid;
		padding: 10px 6px;
		overflow: hidden;
		margin: 0;
		vertical-align: middle;
		font-style: normal;
		width: 100%;
		line-height: 1.5;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper textarea:not(.ignore-reset):not([class^="wpforms-"]) {
		height: 60px;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper textarea:not(.ignore-reset):not([class^="wpforms-"]),
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper input:not(.ignore-reset):not([class^="wpforms-"]) {
		overflow: hidden;
		-webkit-appearance: none;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper input[type=submit]:not(.ignore-reset):not([class^="wpforms-"]),
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper button:not(.ignore-reset):not([class^="wpforms-"]) {
		cursor: pointer;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper input[type=checkbox]:not(.ignore-reset):not([class^="wpforms-"]),
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper input[type=radio]:not(.ignore-reset):not([class^="wpforms-"]) {
		width: auto !important;
		outline: invert none medium;
		padding: 0;
		margin: 0;
		height: auto !important;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		display: inline;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper input[type=checkbox]:not(.ignore-reset):not([class^="wpforms-"]) {
		-webkit-appearance: checkbox;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper input[type=radio]:not(.ignore-reset):not([class^="wpforms-"]) {
		-webkit-appearance: radio;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper strong:not(.ignore-reset):not([class^="wpforms-"]) {
		font-weight: bolder;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper em:not(.ignore-reset):not([class^="wpforms-"]) {
		font-style: italic;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper ul:not(.ignore-reset):not([class^="wpforms-"]) {
		list-style-type: disc;
		margin: 1em 0 1em 1.5em;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper ol:not(.ignore-reset):not([class^="wpforms-"]) {
		list-style: decimal;
		margin: 1em 0 1em 1.5em;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper sup:not(.ignore-reset):not([class^="wpforms-"]) {
		top: -0.5em;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper sub:not(.ignore-reset):not([class^="wpforms-"]) {
		bottom: -0.5em;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper sub:not(.ignore-reset):not([class^="wpforms-"]),
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper sup:not(.ignore-reset):not([class^="wpforms-"]) {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper p:not(.ignore-reset):not([class^="wpforms-"]) {
		margin: 0 0 5px;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper p:first-of-type:not(.ignore-reset):not([class^="wpforms-"]) {
		margin-top: 0;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-FieldsElement--wrapper p:last-of-type:not(.ignore-reset):not([class^="wpforms-"]) {
		margin-bottom: 0;
	}
	
	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content strong:not(.ignore-reset):not([class^="wpforms-"]) {
		font-weight: bolder;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content em:not(.ignore-reset):not([class^="wpforms-"]) {
		font-style: italic;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content ul:not(.ignore-reset):not([class^="wpforms-"]) {
		list-style-type: disc;
		margin: 1em 0 1em 1.5em;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content ol:not(.ignore-reset):not([class^="wpforms-"]) {
		list-style: decimal;
		margin: 1em 0 1em 1.5em;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content sup:not(.ignore-reset):not([class^="wpforms-"]) {
		top: -0.5em;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content sub:not(.ignore-reset):not([class^="wpforms-"]) {
		bottom: -0.5em;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content sub:not(.ignore-reset):not([class^="wpforms-"]),
	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content sup:not(.ignore-reset):not([class^="wpforms-"]) {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content p:not(.ignore-reset):not([class^="wpforms-"]) {
		margin: 0 0 5px;
		font-weight: inherit !important;

		letter-spacing: inherit !important;
		text-transform: inherit !important;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content span.fr-emoticon:not(.ignore-reset):not([class^="wpforms-"]) {
		vertical-align: middle !important;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content p:first-of-type:not(.ignore-reset):not([class^="wpforms-"]) {
		margin-top: 0;
	}
	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content p:last-of-type:not(.ignore-reset):not([class^="wpforms-"]) {
		margin-bottom: 0;
	}

	html div#om-jghe2dlhssaqoe4llijs .baring-TextElement--content span[style~="color:"] a:not(.ignore-reset):not([class^="wpforms-"]) {
		color: inherit;
	}
	
	html div#om-jghe2dlhssaqoe4llijs svg:not(:root).svg-inline--fa {
		overflow: visible;
	}

	html div#om-jghe2dlhssaqoe4llijs .svg-inline--fa {
		display: inline-block;
		font-size: inherit;
		height: 1em;
		overflow: visible;
		vertical-align: -0.125em;
	}
	html div#om-jghe2dlhssaqoe4llijs.Campaign--css.CampaignType--slide{bottom:0 !important;right:0 !important;top:auto !important;left:auto !important;}
	@media screen and (min-width: 1px) and (max-width: 768px) {
		
		html div#om-jghe2dlhssaqoe4llijs .baring-ClosePosition--top-right { right: 0 !important }
		html div#om-jghe2dlhssaqoe4llijs .baring-ClosePosition--top-left { left: 0 !important }
		html div#om-jghe2dlhssaqoe4llijs .baring-ClosePosition--bottom-right { right: 0 !important }
		html div#om-jghe2dlhssaqoe4llijs .baring-ClosePosition--bottom-left { left: 0 !important }

		html div#om-jghe2dlhssaqoe4llijs .FieldsElement--horizontal button {
			width: 100% !important;
		}
	
	}
	
	@media screen and (min-width: 1px) and (max-width: 428px) {
		
				html div#om-jghe2dlhssaqoe4llijs.Campaign--css.CampaignType--slide {
					max-width: 100% !important;
				}
				
	}
	
	@media screen and (min-width: 1px) and (max-width: 768px) {
		
		

		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet .Row .Row__content > div,
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet .om-row .Row__content > div,
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet .baring-row-inner {
			flex-direction: column !important;
		}

		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet .Row .Row__content .Column,
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet .om-row .Row__content .om-column {
			flex: 0 0 auto !important;
			max-width: 100% !important;
			width: 100% !important;
			height: auto !important;
		}
	
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet .Campaign__canvas,
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet .baring-c-canvas {
			right: auto !important;
		}

		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet .GamifiedWheelElement--wheel {
			margin-left: auto !important;
			margin-right: auto !important;
			max-width: 100% !important;
		}
	
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-tablet.CampaignType--slide {
			right: 0 !important;
			left: 0 !important;
			width: 100% !important;
			max-width: 100% !important;
			
		}
	
	}
	
	@media screen and (min-width: 1px) and (max-width: 428px) {
		
		

		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile .Row .Row__content > div,
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile .om-row .Row__content > div,
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile .baring-row-inner {
			flex-direction: column !important;
		}

		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile .Row .Row__content .Column,
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile .om-row .Row__content .om-column {
			flex: 0 0 auto !important;
			max-width: 100% !important;
			width: 100% !important;
			height: auto !important;
		}
	
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile .Campaign__canvas,
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile .baring-c-canvas {
			right: auto !important;
		}

		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile .GamifiedWheelElement--wheel {
			margin-left: auto !important;
			margin-right: auto !important;
			max-width: 100% !important;
		}
	
		html div#om-jghe2dlhssaqoe4llijs.Campaign--unforked-mobile.CampaignType--slide {
			right: 0 !important;
			left: 0 !important;
			width: 100% !important;
			max-width: 100% !important;
			
		}
	
	}
	