/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-screen .omapi-statswidget {
  flex-basis: 100%;
}
.omapi-screen .omapi-statswidget__heading {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.omapi-screen .omapi-statswidget__heading h5 {
  font-size: 16px;
  line-height: 140%;
}
.omapi-screen .omapi-statswidget__heading .omapi-dropdown__select .omapi-dropdown__toggle {
  width: 168px;
  margin: 0;
}
.omapi-screen .omapi-statswidget__nums {
  text-align: center;
  flex-basis: calc(33.33333333% - 10.5px);
}
.omapi-screen .omapi-statswidget__stat {
  font-size: 48px;
  font-weight: 600;
  line-height: 130%;
}
.omapi-screen .omapi-statswidget__desc {
  color: #6C7781;
  font-size: 18px;
  margin-top: 5px;
}