/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.content .screenshot {
  margin: 20px 0;
}
.content .screenshot .image {
  text-align: center;
  margin-bottom: 20px;
  transition: height 0.3s ease;
  overflow: hidden;
  margin: 0 auto;
}
.content .screenshot .image img {
  width: 100%;
  height: auto;
}
.content .screenshot .image .mobile-preview {
  width: 300px;
  height: 644px;
  margin: 0 auto;
  background: #fff;
  border-top: 50px solid #41495b;
  border-bottom: 50px solid #41495b;
  border-left: 10px solid #41495b;
  border-right: 10px solid #41495b;
  border-radius: 10px;
  display: flex;
}
.content .screenshot .image .mobile-preview img {
  display: inherit;
}