/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.om-custom-integrations-modal .header {
  background-color: transparent !important;
  padding: 30px 30px 0 !important;
}
.om-custom-integrations-modal .header .close button {
  color: #b2b4b8;
}
.om-custom-integrations-modal .om-custom-integrations .content {
  padding-bottom: 0 !important;
}