/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-codebox[data-v-270754ec] {
  background-color: #F7F8FB;
  border-radius: 3px;
  padding: 25px;
  font-size: 13px;
  color: #646970;
  line-height: 150%;
  cursor: default;
}
.omapi-codebox__help[data-v-270754ec] {
  margin-bottom: 12px;
}
.omapi-codebox__copy[data-v-270754ec] {
  display: inline-flex;
}
.omapi-codebox__copy[data-v-270754ec]:focus {
  box-shadow: 0 0 0 1px #007cba;
  outline: 2px solid transparent;
  border-radius: 3px;
}
.omapi-codebox__copy span[data-v-270754ec] {
  border: solid 1px #DDDDDD;
  border-radius: 3px;
  padding: 16px;
  background-color: #FFFFFF;
  font-weight: 600;
  cursor: copy;
}
.omapi-codebox__copy span.omapi-codebox__copy-icon[data-v-270754ec] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  color: #606A73;
  font-size: 20px;
}
.omapi-codebox__copy span.omapi-codebox__copy-icon .fa[data-v-270754ec] {
  font-weight: 600;
}
.omapi-codebox__copy span.omapi-codebox__code[data-v-270754ec] {
  color: #23282D;
  font-family: Courier, serif;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}