/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-create-campaign-card.omapi-card.omapi-card__notitle .omapi-card-content {
  padding: 40px 40px 10px;
}
@media screen and (max-width: 1024px) {
.omapi-create-campaign-card .omapi-card-footer {
    text-align: center;
}
}
.omapi-create-campaign {
  display: flex;
  align-items: center;
}
.omapi-create-campaign .omapi-multi-column__primary {
  flex-basis: 60%;
}
@media screen and (max-width: 1024px) {
.omapi-create-campaign .omapi-multi-column__primary {
    margin-top: 20px;
}
}
.omapi-create-campaign__subtitle {
  color: #6C7781;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 6px;
}
.omapi-create-campaign__title {
  line-height: 130%;
  font-size: 32px;
  margin-top: 0;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.omapi-create-campaign p.omapi-create-campaign__text {
  line-height: 160%;
}
.omapi-create-campaign__video {
  padding-left: 5%;
  cursor: pointer;
}
.omapi-create-campaign__video img {
  max-width: 525px;
  display: block;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.omapi-create-campaign__link-more.omapi-create-campaign__link-more {
  display: block;
  width: 400px;
  margin-top: 10px;
  text-align: center;
  line-height: 150%;
}
@media screen and (max-width: 1024px) {
.omapi-create-campaign__link-more.omapi-create-campaign__link-more {
    width: 100%;
}
}
@media screen and (max-width: 1024px) {
.omapi-create-campaign {
    flex-direction: column-reverse;
    text-align: center;
}
}
.omapi-welcomebox .omapi-card-footer {
  padding-left: 40px;
  padding-right: 40px;
}
.omapi-welcomebox .omapi-card-footer .learn-more-content {
  width: 100%;
}
.omapi-welcomebox .omapi-card-footer .learn-more-content .omapi-connect {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}
.omapi-welcomebox .omapi-card-footer .learn-more-content .omapi-connect.omapi-no-connection-buttons span {
  display: flex;
  align-items: center;
}
.omapi-welcomebox .omapi-card-footer .learn-more-content .omapi-join-thousands {
  text-align: center;
  margin: 60px auto;
  width: 60%;
}
@media screen and (max-width: 1005px) {
.omapi-welcomebox .omapi-card-footer .learn-more-content .omapi-join-thousands {
    width: 89%;
}
}
.omapi-welcomebox hr {
  margin: 40px 0 60px 0;
}