/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.campaign-type-filter__option .title-button[data-v-f55361b2] {
  border: 0;
  background: transparent;
  color: #23282D;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
  padding: 0;
  position: relative;
  width: 100%;
  text-align: left;
}
.campaign-type-filter__option .title-button[data-v-f55361b2]:hover {
  cursor: pointer;
}
.campaign-type-filter__option .title-button[data-v-f55361b2]:after {
  content: url(../assets/9be22a9c21f0.svg);
  border: none;
  display: block;
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  right: 0;
}
.campaign-type-filter__option .title-button.active[data-v-f55361b2]:after {
  transform: rotate(0deg);
}
.campaign-type-filter__option .options-list[data-v-f55361b2] {
  margin-bottom: 24px;
}
.campaign-type-filter__option .options-list .omapi-checkbox[data-v-f55361b2] {
  font-size: 14px;
  margin-bottom: 16px;
}
.campaign-type-filter__option .options-list .omapi-checkbox .omapi-checkbox__input[data-v-f55361b2] {
  color: #555D66;
}