.omapi-settings-page[data-v-7e1be8d2] {
  position: relative;
}
.omapi-settings-page .omapi-settings-page__top-save[data-v-7e1be8d2] {
  position: absolute;
  top: 12px;
  right: 0;
  margin-right: 0;
}
.row-revenue-attribution-buttons[data-v-7e1be8d2] {
  display: flex;
  align-items: center;
}
.row-revenue-attribution-buttons .row-revenue-attribution-status.omapi-alert[data-v-7e1be8d2] {
  padding: 6px 20px 5px;
  margin-right: 18px;
  margin-bottom: 0;
}
.row-revenue-attribution-buttons .row-revenue-attribution-status.omapi-alert .alert-message[data-v-7e1be8d2] {
  font-weight: 600;
}
.row-revenue-attribution-buttons p[data-v-7e1be8d2] {
  margin: 0;
}