.loading-button[data-v-d3f73fe4] {
  display: inline-block;
  position: relative;
}
.loading-button .loading-button-spinner[data-v-d3f73fe4] {
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}