.omapi-horizontal-label {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.omapi-horizontal-label .omapi-horizontal-label {
  margin: 0;
}
.omapi-horizontal-label .omapi-toggle {
  margin-right: 20px;
}
.omapi-horizontal-label [type=number] {
  width: 75px !important;
  margin: 0 0 0 2px !important;
}
.omapi-screen .omapi-card-setting-section-cookies .omapi-input-wrap .omapi-input-description {
  line-height: 150%;
}