/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.monsterleads-table-actions a[data-v-3ea177c4],
.monsterleads-table-actions button[data-v-3ea177c4] {
  display: inline;
  height: 36px;
  width: 36px;
}