/* ========================================
Colors
======================================== */
/* ========================================
Fonts
======================================== */
/* ========================================
Item-Specific
======================================== */
.omapi-no-campaigns[data-v-52228d24] {
  text-align: center;
}
.omapi-no-campaigns-title[data-v-52228d24] {
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
}
.omapi-no-campaigns-subtitle[data-v-52228d24], .omapi-no-campaigns-buttons[data-v-52228d24] {
  font-size: 13px;
  line-height: 150%;
  color: #646970;
  margin: 5px 0 15px;
}
.omapi-no-campaigns-subtitle .omapi-button.omapi-button__medium[data-v-52228d24], .omapi-no-campaigns-buttons .omapi-button.omapi-button__medium[data-v-52228d24] {
  margin: 0 10px;
  font-size: 14px;
}