.css-epwlfn { max-width: 560px; }
.css-epwlfn h2 { font-size: 16px; }
.css-epwlfn img { width: 100%; }
.css-dyliz6 { max-width: 100%; width: 100%; }
.css-hqx46f.is-size-medium.is-size-medium { padding: 24px; }
.css-hqx46f h4 { margin-top: 0px; margin-bottom: 1em; }
.css-hqx46f > * { margin-top: 0px; margin-bottom: 1em; }
.css-hqx46f > :last-child { margin-bottom: 0px; }
.css-hqx46f > :last-child > :last-child { margin-bottom: 0px; }
.css-hqx46f input, .css-hqx46f select { margin: 0px; }
.css-hqx46f ul > li:last-child { margin-bottom: 0px; }
.css-hqx46f ul > li:last-child .components-base-control__field { margin-bottom: 0px; }
.css-hqx46f .components-radio-control__option { margin-bottom: 8px; }
.css-hqx46f .components-base-control__help { margin-top: unset; }
.css-bn9r3n { color: rgb(30, 30, 30); }
.css-9j49y9 { color: rgb(117, 117, 117); font-size: 12px; font-weight: 400; margin: 22px 0px 16px; }
.css-17ar6y6 { -webkit-box-align: center; align-items: center; display: flex; flex-wrap: wrap; column-gap: 12px; }
.css-17ar6y6 > :last-child { box-shadow: none; }
.css-17ar6y6 > :last-child:active:not(:disabled), .css-17ar6y6 > :last-child:focus:not(:disabled), .css-17ar6y6 > :last-child:hover:not(:disabled) { box-shadow: none; }