

			@media (min-width: 1025px) {
				.atb-hide-desktop {
					display: none !important;
				}
			}

			@media (min-width: 768px) and (max-width: 1024px) {
				.atb-hide-tablet {
					display: none !important;
				}
			}

			@media (max-width: 767px) {
				.atb-hide-mobile {
					display: none !important;
				}
			}
		
/*# sourceURL=athemes-blocks-common-inline-css */
