
            #adminmenu .toplevel_page_botiga-dashboard .wp-submenu a[href="admin.php?page=botiga-dashboard"] {
                display: none;
            }
            #adminmenu .toplevel_page_botiga-dashboard .wp-submenu a[href*="/botiga-upgrade/"] {
                background-color: green;
                color: #FFF;
            }
        