
		#wp-admin-bar-wpforms-menu.wpforms-has-console-error {
			background-color: #d63638;
		}

		#wp-admin-bar-wpforms-menu.wpforms-has-console-error svg {
			display: inline-block;
			width: 18px;
			height: 18px;
			margin: 7px 6px 0 0;
			line-height: 1.6;
			vertical-align: top;
		}

		#wp-admin-bar-wpforms-menu.wpforms-has-console-error .wpforms-console-error-notice {
			background-color: #d63638;
		}

		#wp-admin-bar-wpforms-menu.wpforms-has-console-error .wpforms-console-error-notice a.ab-item {
			color: #ffffff !important;
			cursor: default;
		}
		