.wpforms-admin-page input:focus, .wpforms-admin-page select:focus, .wpforms-admin-page textarea:focus { border: 1px solid rgb(34, 113, 177) !important; box-shadow: rgb(34, 113, 177) 0px 0px 0px 1px !important; }
.wpforms-admin-page .wpforms-btn-blue { background-color: rgb(34, 113, 177); border-color: rgb(34, 113, 177); }
.wpforms-admin-page .wpforms-btn-blue { background-color: rgb(34, 113, 177); border-color: rgb(34, 113, 177); }
body div.jconfirm div.jconfirm-box input[type="text"]:not(.choices__input):focus { border-color: rgb(34, 113, 177); box-shadow: rgb(34, 113, 177) 0px 0px 0px 1px; }
.wpforms-admin-page .wpforms-btn-blue:hover { background-color: rgb(19, 94, 150); border-color: rgb(19, 94, 150); }
body div.jconfirm div.jconfirm-box .error { color: rgb(214, 54, 56); }
#wpforms-entries-single #wpforms-entry-notes .wpforms-entry-notes-byline .note-delete:hover { color: rgb(214, 54, 56); }
#wpforms-entries-single #wpforms-entry-details .submitdelete:hover { color: rgb(214, 54, 56); }
#wpforms-entries-list .wp-list-table .delete:hover { color: rgb(214, 54, 56); }
#wpforms-admin-addons .addon-item .status .status-active { color: rgb(0, 163, 42); }
#wpforms-admin-addons .addon-item .status .status-installed { color: rgb(214, 54, 56); }
#wpforms-admin-addons .addon-item .actions .msg.error { color: rgb(214, 54, 56); }
.addon-item .action-button button.status-installed .fa { color: rgb(214, 54, 56); }
.addon-item .action-button button.status-active .fa { color: rgb(0, 163, 42); }
.addon-item .action-button button.loading .fa { color: rgb(102, 102, 102); }
.wpforms-admin-settings #wpforms-tools-entries-export #wpforms-tools-entries-export-process-msg.wpforms-error, .wpforms-admin-settings #wpforms-tools-entries-export #wpforms-tools-entries-export-selectform-msg.wpforms-error { border-color: rgb(214, 54, 56); }
.wpforms-admin-settings #wpforms-importer-process .status .item .status-icon.fa-times, .wpforms-admin-settings #wpforms-importer-process .status .item .status-icon.fa-exclamation-circle { color: rgb(214, 54, 56); }
.wpforms-admin-content-geolocation .msg.error { border-left: 4px solid rgb(214, 54, 56); }
#wpforms-notifications .dismiss:hover { color: rgb(214, 54, 56) !important; }
#wpforms-reset-filter .reset:focus, #wpforms-reset-filter .reset:hover { color: rgb(214, 54, 56); }
.wpforms-dyk .wpforms-dyk-buttons button.wpforms-dismiss-button:hover { color: rgb(214, 54, 56); }
#wpforms-admin-analytics .step .error, #wpforms-admin-smtp .step .error { color: rgb(214, 54, 56); }
#wpforms-admin-addons #wpforms-admin-addons-list .list .addon-item .actions .msg.success { color: rgb(0, 163, 42); }
#wpforms-admin-about .wpforms-admin-about-section ul.list-features li .fa { color: rgb(0, 163, 42); }
.wpforms-admin-settings .wpforms-setting-row .progress-bar.complete { border: 1px solid rgb(0, 163, 42); }
.wpforms-admin-settings .checkbox-multiselect-columns ul li label.checked::before { color: rgb(0, 163, 42); }
.wpforms-admin-settings #wpforms-importer-process .status .item .status-icon.fa-check { color: rgb(0, 163, 42); }